/*
  Name: Jake Persons
  Date Created: 10/24/2019
  Most recent revision: 10/27/2019
*/
body {
  background-color: #DBD3D8;
  color: #262322;
}
.jumbotron {
  background-color: #D0B17A;
  border-bottom: thin solid #262322;
  font-family: monospace;
  text-align: center;
  margin-bottom: 0px;
}
nav{
  padding-bottom: 16px;
}
a.btn{
  background-color: #FF8552;
  border: thin solid #000;
  color: #393939;
}
a.btn:visited{
  color: #FF8552;
  background-color: #393939;
}
a.btn:hover{
  font-weight: bold;
}
a.btn:active{
  text-decoration: none;
}
